:root {
    --p-button-primary-background: #ff7518 !important;
    --p-button-primary-border-color: #ff7518 !important;
    --p-button-primary-hover-border-color: #f26f00 !important;
    --p-button-primary-hover-background: #f26f00 !important;
}